graft src
graft tests

recursive-include notebooks *.csv
recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include examples *.csv
recursive-include examples *.rst
recursive-include examples *.sh
include docs/Makefile
include config/config.ini
recursive-include docs *.png

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg

include *.rst *.txt *.yml LICENSE tox.ini .flake8 doc8.ini .coveragerc
